.banner {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 500px;
}
.container {
    
    padding-right: 0;
    padding-left: 0;
}

header .banner h1 {
    font-style: italic;
    font-family: 'BaskervilleDisplayPT-Regular';
    font-size: 40px;
    color: var(--main-color);
    background: rgba(255,245,215,.5);
}
.container {
    padding-right: 0;
    padding-left: 0;
}

.product-pluses {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background: rgba(231, 207, 188);
    text-align: center;
    font-size: 1.3rem;
}

main .product-pluses h2 {
    margin-bottom: 20px;
}

.text-pluses {
    text-align: center;
    margin: 0;
    padding-bottom: 16px;
}

#about {
    width: 100%;
    background: rgba(255, 238, 226);
    text-align: center;
    font-size: 1.3rem;
}

.about-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.about-container-img {
    display: block;
    width: 100%;
    padding-bottom: 15px;
}

.secret-container {
    width: 100%;
    background: rgba(255, 238, 226);
    text-align: center;
    font-size: 1.3rem;
}

.secret-container-img {
    width: 90%;
    background: rgba(255, 238, 226);
    text-align: center;
}

.our-products-title {
    background: rgba(255, 238, 226);
    margin: 0;
    padding-bottom: 15px;
}

.our-products {
    width: 100%;
    background: rgba(255, 238, 226);
    padding-right: 50px;
    padding-left: 50px;
    
}


@media (min-width: 770px) {
    .our-products {
    display: flex;
    align-items: center;
    justify-content: center;
    }
}

.new-year-pastila-img {
    width: 100%;
       }

.our-products-list {
  
    font-size: 1.3rem;
    width: 90%;
    padding-left: 30px;
}

.galery {
    background: rgba(255, 238, 226);
}

.carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(255, 238, 226);
    position: relative;
}

.carousel-container {
    width: 100%;
    max-width: 980px;
    margin: auto;
    background: rgba(255, 238, 226);
    text-align: center;
}

.btn-caurosel {
    background: rgba(255, 238, 226);
}

.btn-back {
    position: absolute;
    top: calc(50% - 10px);
    left: 30px;
    padding: 5px 5px;
    margin-top: 4px;
    border: 0,1em solid rgb(0, 0, 0);
    font-size: 12px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    text-align: centre;
    transition: all 0.7s;
    letter-spacing: 2px;
    background-color: transparent;
}

.btn-forward {
    position: absolute;
    top: calc(50% - 10px);
    right: 30px;
    padding: 5px 5px;
    margin-top: 4px;
    border: 0,1em solid rgb(0, 0, 0);
    font-size: 12px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    text-align: centre;
    transition: all 0.7s;
    letter-spacing: 2px;
    background-color: transparent;
}

.carousel-container-img {
    width: 90%;
    margin: auto;
    display: block;
}

#contacts {
    background: rgba(255, 238, 226);
    display: block;
    text-align: center;
    padding-bottom: 15px;
}

.contacts-img {
    display: inline-block;
    position: relative;
    width: 40%;
    height: auto;
}

.adress {
    margin-top: 15px;
    font-size: 1.3rem;
}

.phone {
    margin: 0;
    font-size: 1.3rem;
}

#data {
    width: 50%;
    margin: auto;
}

form {
    margin: 0;
    width: 350px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

#contact-us {
    display: block;
    text-align: center;
    background: rgba(255, 238, 226);
    font-size: 1.3rem;
}

input, textarea {
    font: 1em sans-serif;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #999;
}

.button-card-button {
    width: 100%;
    margin: auto;
}

/*.callback-form {
  background-image: url(//res2.weblium.site/res/5bc7111959a60a0024e4398e/5bc71b5759a60a0024e46028_optimized_1920);
  width: 100%;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}