.row.products-container {
    background: rgba(255, 238, 226);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 1.3rem;
} 

#products {
    background: rgba(231, 207, 188);
    padding-bottom: 15px;
    margin: 0;
    font-family: 'BaskervilleDisplayPT-Regular';
}

#products .buy {

    border: 2px solid rgb(238, 150, 68);
    background-color: rgb(238, 150, 68);
    color: black;
   
    font-size: 1.1rem;

}
#products .buy:hover {
    border: 2px solid rgb(196, 117, 44);
    background-color: rgb(196, 117, 44);
    color:black;}

#products .btn-info {

    border: 2px solid rgb(58, 197, 221);
    background-color: rgb(50, 181, 204);
    color:black;
    font-size: 1.1rem;}
                          
#products .btn-info:hover {
    border: 2px solid rgb(43, 166, 214);
    background-color: rgb(43, 166, 214);
    color:black;}

.modal-footer .btn-close {
    border: 2px solid rgb(42, 141, 255);
    background-color: rgb(42, 141, 255);
    color:black;;
      
}
.modal-footer .order {
    border: 2px solid rgb(238, 150, 68);
    background-color: rgb(238, 150, 68);
    color:black;;
      
}
