.product-list {
    background: rgba(255, 238, 226);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

#products {
    background: rgba(231, 207, 188);
    padding-bottom: 15px;
    margin: 0;
    font-family:'BaskervilleDisplayPT-Regular';
   
}

.product-card img {
    display: block;
    width: 100%;
}

.product-card {
    padding: 0.35em 1.2em;
    border: 0.1em solid black;
    margin: 0.3em 0.3em 0.3em 0.3em;
    border-radius: 0.12em;
    color: black;
    text-align: center;
    transition: all 0.7s;
    background-color: transparent;

}

.product-buttons {
    display: flex;
    justify-content: space-around;
}

.button {
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.7s;
    background-color: transparent;
}

.button:hover {
    color: #000000;
    background-color: #FFFFFF;
    cursor: pointer;
}

.card-button {
    border-color: black;
    color: black;
}

.card-button:hover {
    background-color: black;
    color: white;
}

@media (min-width: 540px) {
    .product-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
}

@media (min-width: 660px) {
    .product-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 980px) {
    .product-list {
        grid-template-columns: repeat(3, 1fr);
    }
