@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); 
:root {
    font-family: 'Open Sans', sans-serif;
    --main-color:black;  scroll-behavior: smooth;
}
.clock {
    display: block;
    background: rgba(159, 126, 105);
    padding-left: 15px;
    padding-top: 15px;
    font-size: 1.3rem;
}

body {
    max-width: 980px;
    margin: auto;
}

.navigation-container {

    background: rgba(159, 126, 105);
    padding-bottom: 10px;
    font-size: 1.1rem;

}
.logo {
    font-weight: bold;
    font-style: italic;
    color: var(--main-color);
    text-decoration: underline;
    padding-left: 15px;
   font-family: 'Prata', serif;
}

header nav .logo {
    font-family: 'Prata', serif;
    font-size: 3.0rem;
    color: var(--main-color);
    padding-right: 
}

#burger-checkbox {
    display: none;
}

header nav .menu-items {
    display: none;
}

header nav input:checked ~ .menu-items {
    display: block;
}

header nav .menu-items a {
    display: block;
    text-decoration: none;
    color: var(--main-color);
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 2px;
}

.menu-items a:hover {
    border-color: var(--accent-color);
    
}

@media (min-width: 769px) {
    .burger-icon {
        display: none;
    }

    header nav {
        display: flex;
    }

    header nav input:checked ~ .menu-items {
        display: block;
    }

    header nav .menu-items {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex: 1;
    }
}



h2 {
    font-family: 'Prata', serif;
    font-size: 30px;
    color: var(--main-color);
    text-align: center;
    padding-top: 15px;
    margin: 0;
    text-decoration: underline;
    
}
    


h3 {
    font-family: 'Prata', serif;
    font-size: 20px;
    color: var(--main-color);
    font-weight: bold;
}

.footer-container {
    background: rgba(255,245,215,.5);
}
.footer-logo {
    font-style: italic;
    font-weight: bold;
     text-decoration: underline;
     font-family: 'Prata', serif;

}

#work-time {
    display: flex;
    justify-content : space-between;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    background: rgba(159, 126, 105);
    font-size: 1.1rem;
}

.facebook-icon {
    margin-left: 30px;
    margin-top: 15px;
}


